fastapi==0.110.0
packaging==24.0
uvicorn==0.28.1
pillow==10.2.0
aiohttp==3.9.3
markdownify==0.11.6
optimum==1.17.1
auto-gptq==0.7.1
sentence_transformers==2.5.1
loguru==0.7.2
pydantic_settings==2.2.1
pymongo==4.6.3
vllm==0.4.2
torchvision==0.18.0
huggingface_hub[hf_transfer]